RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
PRIVATE_KEY=0xYOUR_DEPLOYER_PRIVATE_KEY
VAULT_ADDRESS=0xDEPLOYED_SENTRY_DEMO_VAULT
DEPENDENCY_ADDRESS=0xDEPLOYED_DEPENDENCY_PROBE
CHAINSENTRY_API_URL=https://YOUR_BACKEND_URL
CHAINSENTRY_CONTRACT_ADDRESS=0xDEPLOYED_SENTRY_DEMO_VAULT
CHAINSENTRY_PRIVY_TOKEN=YOUR_PRIVY_ACCESS_TOKEN
CHAINSENTRY_ALERT_RULE_ID=YOUR_ALERT_RULE_ID
